@font-face {
    font-family: "PorticoDiablo";
    src : url("../fonts/Portico Diablo.otf");
}
@font-face {
    font-family: "PorticoDiabloOblique";
    src : url("../fonts/Portico Diablo Oblique.otf");
}
@font-face {
    font-family: "PorticoDiagonal";
    src : url("../fonts/Portico Diagonal.otf");
}
@font-face {
    font-family: "PorticoDiagonalOblique";
    src : url("../fonts/Portico Diagonal Oblique.otf");
}
@font-face {
    font-family: "PorticoDistorted";
    src : url("../fonts/Portico Distorted.otf");
}
@font-face {
    font-family: "PorticoDistortedOblique";
    src : url("../fonts/Portico Distorted Oblique.otf");
}
