@font-face {
    font-family: "PorticoDiablo";
    src : url("../fonts/Portico Diablo.otf");
}
@font-face {
    font-family: "PorticoDiabloOblique";
    src : url("../fonts/Portico Diablo Oblique.otf");
}
@font-face {
    font-family: "PorticoDiagonal";
    src : url("../fonts/Portico Diagonal.otf");
}
@font-face {
    font-family: "PorticoDiagonalOblique";
    src : url("../fonts/Portico Diagonal Oblique.otf");
}
@font-face {
    font-family: "PorticoDistorted";
    src : url("../fonts/Portico Distorted.otf");
}
@font-face {
    font-family: "PorticoDistortedOblique";
    src : url("../fonts/Portico Distorted Oblique.otf");
}
@font-face {
    font-family: "PorticoIndiagonal";
    src : url("../fonts/Portico Indiagonal.otf");
}
@font-face {
    font-family: "PorticoLayer";
    src : url("../fonts/Portico Layer.otf");
}
@font-face {
    font-family: "PorticoLayerOblique";
    src : url("../fonts/Portico Layer Oblique.otf");
}
@font-face {
    font-family: "PorticoLight";
    src : url("../fonts/Portico Light.otf");
}
@font-face {
    font-family: "PorticoLightOblique";
    src : url("../fonts/Portico Light Oblique.otf");
}
@font-face {
    font-family: "PorticoLightRough";
    src : url("../fonts/Portico Light Rough.otf");
}
@font-face {
    font-family: "PorticoOblique";
    src : url("../fonts/Portico Oblique.otf");
}
@font-face {
    font-family: "PorticoOutline";
    src : url("../fonts/Portico Outline.otf");
}
@font-face {
    font-family: "PorticoRegular";
    src : url("../fonts/Portico Regular.otf");
}
@font-face {
    font-family: "PorticoRough";
    src : url("../fonts/Portico Rough.otf");
}
@font-face {
    font-family: "PorticoRoughOblique";
    src : url("../fonts/Portico Rough Oblique.otf");
}
@font-face {
    font-family: "PorticoRounded";
    src : url("../fonts/Portico Rounded.otf");
}
@font-face {
    font-family: "PorticoRoundedOblique";
    src : url("../fonts/Portico Rounded Oblique.otf");
}
@font-face {
    font-family: "PorticoShadow";
    src : url("../fonts/Portico Shadow.otf");
}
@font-face {
    font-family: "PorticoStencil";
    src : url("../fonts/Portico Stencil.otf");
}
@font-face {
    font-family: "PorticoStencilOblique";
    src : url("../fonts/Portico Stencil Oblique.otf");
}
@font-face {
    font-family: "PorticoStencilRough";
    src : url("../fonts/Portico Stencil Rough.otf");
}
@font-face {
    font-family: "PorticoUrban";
    src : url("../fonts/Portico Urban.otf");
}
@font-face {
    font-family: "PorticoUrbanOblique";
    src : url("../fonts/Portico Urban Oblique.otf");
}
@font-face {
    font-family: "PorticoUrbanRough";
    src : url("../fonts/Portico Urban Rough.otf");
}
@font-face {
    font-family: "PorticoVintage";
    src : url("../fonts/Portico Vintage.otf");
}
